%header#header
  #brand
    SHINYA KUNISADA

#drw-btn
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%nav#nav-menu
  %ul
    %li= link_to "PROFILE", "#{config[:root]}/contents/profile/"
    %li= link_to "WORKS", "#{config[:root]}/contents/works/"
    %li= link_to 'CONTACT', "#{config[:root]}/contents/contact/"

#drw-layer
